.strong {
    padding-top: 60px;
    padding-bottom: 60px;
}

.benefits {
    margin: 0;
    padding-left: 0;
    // screen tablet
    @media screen and (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.benefits__items {
    margin-bottom: 30px;
    // tablet screen
    @media screen and (min-width: 767px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    // desctop screen
    @media screen and (min-width: 1199px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.benefits__items:last-child {
    margin-bottom: 0;
}


.benefits__antenna {
    display: flex;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;

    // tablets
}

.antenna {
    display: flex;
    height: auto;
}

.benefits .benefits__quote {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits .benefits__text {
    margin: 0;

    color: var(--second-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}