.button-menu {
    // position: absolute;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.button-menu .icon-cross {
    display: none;
}
