.section {
    // mobile screen
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--section-background-color);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .box {
            background-image: url('photo@2x.png');
        }
    }
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../../images/fone-img.jpg/Header-mob.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../../images/fone-img.jpg/Header-mob1.jpg");
    
    // tablet screen
    @media screen and (min-width: 767px) {
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../../images/fone-img.jpg/Header-tabl.jpg");
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../../images/fone-img.jpg/Header-tabl1.jpg");
    }
    @media screen and (min-width: 1199px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../../images/fone-img.jpg/Header-desc.jpg");
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../../images/fone-img.jpg/Header-desc1.jpg");
    }
}

.section__title {
    // mobal screen
    margin: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    // tablet screen
    @media screen and (min-width: 767px) {
        width: 360px;
    }
    // desctop screen
    @media screen and (min-width: 1199px) {
        width: 100%;
        text-align: center;
    }
}

.overlay {
    // max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: inherit;
    background-size: cover;
}