.section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--section-background-color);
    // mobile foto
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images\fone_mobile.jpg\Шапка_mob@1x.jpg");
}

.section__title {
    // width: 696px;
    margin: 0;
    margin-bottom: 30px;
    // margin-left: auto;
    // margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.overlay {
    // max-width: 1600px;
    // margin-left: auto;
    // margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: inherit;
    background-size: cover;
}