.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background-color);
}

// teblet screen
@media screen and (min-width: 767px) {
    .contact-studio {
        display: flex;
        align-items: baseline;
    }
}
// 
.decoration {
    padding-left: 0;
}

.footer .logo {
    display: inline-block;
    text-align: center;
    margin-bottom: 28px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--logo-main-color);
    // desctop screen
    @media screen and (min-width: 1199px) {
        font-size: 26px;
        line-height: 1.19px;
    }
}

.footer .logo {
    text-decoration: none;
}

.footer .logo .title {
    color: var(--logo-last-color);
    @media screen and (min-width: 767px) {
        font-size: 24px;
        line-height: 1.16;
    }
}

.address-list {
    display: block;
    margin-top: 0;
    margin-bottom: 60px;

    @media screen and (min-width: 1199px) {
        margin-bottom: 0;
    }
}

.footer .map {
    display: block;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .map {
    text-decoration: none;
}

.address-list .map {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mail {
    display: block;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--address-contact-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
    text-decoration: none;
    @media screen and (min-width: 1199px) {
        text-align: start;
    }
}

.address-list .mail {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-contact-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list .tel {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.tel {
    text-decoration: none;
}

.freand {
    display: block;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 767px) {
        margin-bottom: 0;
        margin-left: 165px;
    }
    @media screen and (min-width: 1199px) {
        margin-left: 70px;
    }
}

@media screen and (min-width: 1199px) {
    .contacts-social {
        margin-left: auto;
    }
}


.slogan {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--button-text-color);

    @media screen and (min-width: 1199px) {
        text-align: start;
    }
}

/* іконкі футера */

.contacts {
    display: block;
    align-items: center;
    @media screen and (min-width: 1199px) {
        display: flex;
        align-items: baseline;
    }
}

// @media screen and (min-width: 1199px) {
//     .contacts .container {
//         width: 1199px;
//     }
// }

.contacts-address {
    text-align: center;
    // teblet screen
    @media screen and (min-width: 767px) {
        margin-left: 61px;
    }
    @media screen and (min-width: 1199px) {
        text-align: start;
        margin-left: 0;
    }
}

.lists {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.networks {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
}

.networks:last-child {
    margin-right: 0;
}

.instagram {
    &:hover {
        background-color: var(--accent-color);
    }
}

.icons-link {
    fill: #FFFFFF;
}

.instagram {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email {
    align-items: center;

    @media screen and (min-width: 1199px) {
        display: flex;
    }
}

.email {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 16px;
    border-radius: 4px;
    // tablet screen
    @media screen and (min-width: 767px) {
        display: flex;
        width: 450px;
        margin-left: 144px;
    }
    @media screen and (min-width: 1199px) {
        width: 358px;
        margin-right: 12px;
        margin-left: 0;
        margin-bottom: 0;
    }

    font-style: normal;
    font-size: 20px;
    line-height: 1.71;

    color: #757575;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--section-background-color);
}

.email {
    &:focus {
        border: rgba(255, 255, 255, 0.3);
    }
}

.telegram {
    display: flex;
    align-items: center;
    padding: 9px 32px;
}

.icon-telegram {
    fill: #ffffff;
    margin-left: 10px;
}