.main-nav__name {
    color: var(--logo-second-coolor);
}

.main-nav__logo {
    // mobile screen
    position: absolute;
    top: 16px;
    left: 15px;
    bottom: 16px;
    margin-right: 88px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    // tablet screen
    @media screen and (min-width: 767px) {
        top: 26px;
        bottom: 26px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
    }

    // desctop screen
    @media screen and (min-width: 1199px) {
        top: 24px;
        bottom: 25px;
        font-size: 26px;
        line-height: 1.19;
    }
    color: var(--logo-main-color);
}

.main-nav__logo {
    text-decoration: none;
}

.list {
    // display: flex;
    list-style: none;
}